@use "../../var";

.sec-page {
  .add-project {
    .toggle-guidelines {
      margin-left: 0;
      margin-right: auto;
    }

    .grid {
      .card {
        background-color: var.$purple;
      }
    }
  }
}

.add-project {
  display: flex;
  flex-direction: column;
  margin-top: var.$space-md;

  h1 {
    margin: 0 auto;
  }

  .toggle-guidelines {
    margin: var.$space-sm auto var.$space-md;
    display: flex;
    column-gap: var.$space-sm;
  }

  .grid {
    margin-top: var.$space-sm !important;
  }
}
