@use "../../var";

.cart {
  display: flex;
  margin-top: var.$space-md;

  @media (max-width: var.$tablet) {
    margin-top: 0;
  }

  input,
  textarea {
    all: unset;
  }

  .mic {
    @media (min-width: var.$desktop) {
      position: absolute;
      right: 70%;
      top: -80%;
      padding: var.$space-xs;
      background-color: var.$lightPurple;
      border-radius: var.$border-radius-2;
    }
  }

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    > div:nth-child(2) {
      display: flex;
      align-items: center;
      margin: 0 auto;
      column-gap: var.$space-sm;
      margin-bottom: var.$space-md;

      @media (max-width: var.$tablet) {
        margin-left: 0;
        margin-top: var.$space-sm;
      }

      button {
        background-color: var.$lightPurple;
        padding: calc(var.$space-sm - 0.1rem) var.$space-sm;
        border: var.$border-1;
        border-radius: var.$border-radius-3;
        cursor: pointer;

        &:hover {
          background-color: var.$purple;
        }
      }

      .btn-icon {
        background-color: var.$lightPurple;
      }
    }

    &__project-name {
      display: flex;
      column-gap: var.$space-sm;
      position: relative;

      @media (min-width: var.$desktop) {
        margin: 0 auto var.$space-xs;
      }

      input {
        font-size: var.$fs-medium;
        font-weight: var.$bold;

        @media (min-width: var.$desktop) {
          font-size: var.$fs-x-large;
          text-align: center;
        }

        &::placeholder {
          font-style: italic;
          font-weight: var.$bold;
        }
      }
    }

    &__project-desc {
      display: flex;
      align-items: flex-start;
      margin-bottom: var.$space-md;

      textarea {
        flex: 1;
        word-wrap: break-word;
      }
    }

    &__project-guidelines {
      margin-bottom: var.$space-md;
    }

    &__btn {
      margin-top: auto;
      margin-left: auto;
    }

    .btn-default {
      padding: calc(var.$space-xs + 0.1rem) var.$space-md;
      font-size: calc(var.$fs-small + 0.2rem);
    }
  }
}
