@use "../../var";

.projects {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-sm;

  &__search-wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: var.$space-sm;

    .search {
      width: 60%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: var.$space-sm;
    align-items: center;

    h1 {
      margin-right: auto;
      flex: 1;
    }

    a {
      margin-top: auto;
      flex: none;
      margin-left: var.$space-sm;
    }
  }

  .filter-form {
    margin-bottom: var.$space-md;
  }
}
