@use "var";

.card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  background-color: var.$lightPurpleDefault;
  padding: var.$space-sm;
  border-radius: var.$border-r-medium;

  &:hover {
    background-color: rgba(222, 222, 222, 0.7);
  }

  button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: var.$space-sm;

    &:hover {
      border-radius: var.$border-r-small;
      background-color: var.$lightPurpleDefault;
    }
  }
}
