@use "./var";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var.$space-md;
  margin-top: var.$space-xl;

  @media (max-width: var.$tablet) {
    margin-top: var.$space-lg;
  }

  &__item {
    display: flex;
    grid-row: span 1;
    grid-template-rows: subgrid;
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: var.$space-md;
  margin-top: var.$space-xl;

  @media (max-width: var.$tablet) {
    margin-top: var.$space-lg;
  }

  &__item {
    flex: 1;
  }
}
