@use "./var";

@mixin icon-badge($mr, $ml, $fs, $p) {
  position: relative !important;

  span {
    background-color: var.$purple;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: $ml;
    margin-right: $mr;
    color: var.$text;
    padding: $p;
    border-radius: 100px;
    width: auto;
    height: auto;
    font-weight: var.$bold;
    font-size: $fs;
    border: var.$border-1;
  }
}
