@use "./var";

@mixin icon-badge($mr, $ml, $fs, $p) {
  position: relative !important;

  span {
    background-color: var.$purple;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: $ml;
    margin-right: $mr;
    color: var.$text;
    padding: $p;
    border-radius: 100px;
    width: auto;
    height: auto;
    font-weight: var.$bold;
    font-size: $fs;
    border: var.$border-1;
  }
}

@mixin search($padding, $mainColor) {
  display: flex;
  align-items: center;
  column-gap: var.$space-xs;

  svg {
    height: calc(var.$svg-small - 0.2rem);
    width: calc(var.$svg-small - 0.2rem);
  }

  input {
    all: unset;
  }

  .btn-icon {
    background-color: $mainColor;
    padding: $padding;
  }

  &__search-form {
    border: none;
    border: var.$border-1;
    border-radius: var.$border-radius-3;
    background-color: $mainColor !important;
    display: flex;
    align-items: center;
    padding: $padding;
    outline: none;
    column-gap: var.$space-xs;
    flex: 1;

    input {
      flex: 1;
      color: var.$text;
      outline: none;

      &::placeholder {
        font-style: italic;
      }
    }

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
    }
  }
}

@mixin switch-font-size($fs) {
  p,
  select,
  input,
  label,
  h3,
  span,
  li {
    font-size: $fs;
  }
}
