//colors
$red: #dc2626;
$green: #16a34a;

$gray: rgba(25, 25, 24, 1);
$cream: rgba(250, 250, 250, 0.4);
$lighterPurple: #f9f6ff;
$lightPurple: #e5d9ff;
$purple: #c1a6f9;

//font weight
$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

//font size
$fs-x-small: 0.9rem;
$fs-small: 1rem;
$fs-medium: 1.3rem;
$fs-large: 1.7rem;
$fs-x-large: 2rem;

//spacing
$space-xs: 0.3rem;
$space-sm: 0.7rem;
$space-md: 1.1rem;
$space-lg: 1.9rem;
$space-xl: 3rem;

//borders
$border-1: 1px solid $gray;
$border-2: 1px solid $lightPurple;

//border radius
$border-radius-default: 20px;

//effects
$shadow-small: 1px 1px 1px 1px $gray;
// $shadow-medium: 2px 1px 3px $gray;
// $shadow-large: 2px 1px 3px $gray;

//screen size
$mobile: 499px;

//rules
$header-mobile-height: 70px;
