//colors
$grayDefault: #1c1917;
$lightPurpleDefault: #dedede;
$pageColor: #f8f8f8;
$red: #dc2626;

//font weight
$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

//font size
$fs-x-small: 0.9rem;
$fs-small: 1rem;
$fs-medium: 1.3rem;
$fs-large: 1.7rem;
$fs-x-large: 2rem;

//spacing
$space-xs: 0.3rem;
$space-sm: 0.7rem;
$space-md: 1.1rem;
$space-lg: 1.9rem;
$space-xl: 3rem;

//border radius
$border-r-small: 5px;
$border-r-medium: 10px;
$border-r-large: 20px;
