//colors
$text: rgba(25, 25, 24, 1);
$lighterPurple: #f9f6ff;
$lightPurple: #e5d9ff;
$purple: #c1a6f9;
$gray: #d9d9d9;
$red: #cc695f;
$green: #9fc494;
$lightText: #f0f0f0;
$dark: #303030;
$contrast: #f5f3fa;

//font weight
$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

//font size
$fs-x-small: 0.9rem;
$fs-small: 1rem;
$fs-medium: 1.3rem;
$fs-large: 1.7rem;
$fs-x-large: 2rem;

//spacing
$space-xs: 0.3rem;
$space-sm: 0.7rem;
$space-md: 1.1rem;
$space-lg: 1.9rem;
$space-xl: 3rem;

//borders
$border-1: 1px solid $text;
$border-2: 2px solid $lightPurple;
$border-3: 2px solid $text;

//border radius
$border-radius-default: 12px;
$border-radius-2: 25px;
$border-radius-3: 15px;

//effects
$shadow-small: 1px 1px 1px 1px $text;
// $shadow-medium: 2px 1px 3px $text;
// $shadow-large: 2px 1px 3px $text;

//svg sizes
$svg-x-small: 1.2rem;
$svg-small: 1.6rem;
$svg-medium: 1.9rem;
$svg-large: 2.1rem;
$svg-x-large: 2.6rem;

//screen size
$mobile: 499px;
$tablet: 890px;
$desktop: 891px;

//rules
$header-mobile-height: 70px;
$header-desktop-height: 80px;
