@use "sass:meta";
@use "var";
@use "fonts";

$height: var.$header-mobile-height + 10px;

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#auth {
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-xs;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var.$lighterPurple;
  color: var.$text;

  a {
    text-decoration: none;
    color: var.$text;
  }

  ul {
    display: flex;
    list-style: none;
    column-gap: var.$space-sm;

    li {
      display: flex;
      align-items: center;
    }
  }

  .content {
    width: 100%;
    height: 100%;
    padding-bottom: var.$space-md;

    @media (max-width: var.$tablet) {
      padding-bottom: calc(var.$header-mobile-height + 50px);
    }

    > main {
      display: flex;
      border-radius: var.$border-radius-default;
      width: 100%;
      padding: var.$space-md var.$space-sm 0;
      height: calc(100% - var.$header-mobile-height);
      overflow-y: auto;
      overflow-x: hidden;

      > div:first-of-type,
      > div:first-of-type > div:first-of-type {
        flex: 1;
        padding: 0 var.$space-sm var.$space-md;
      }

      @media (max-width: var.$tablet) {
        justify-content: center;
        padding: var.$space-sm var.$space-md calc(var.$space-xl + 3rem);
        height: 100%;
      }

      .two-pages {
        display: flex;
        flex: 1;
        column-gap: var.$space-md;

        > div {
          flex: 1;
          overflow-y: auto;
        }

        h1 {
          font-style: italic;
        }
      }
    }
  }
}

//elements
@include meta.load-css("elements/button");
@include meta.load-css("elements/heading");
@include meta.load-css("elements/form");
@include meta.load-css("elements/breadcrumb");
@include meta.load-css("elements/not-found");
@include meta.load-css("elements/error-msgs");

//components
@include meta.load-css("components/nav");
@include meta.load-css("components/sec-page");
@include meta.load-css("components/header");
@include meta.load-css("components/card");
@include meta.load-css("components/push");
@include meta.load-css("components/push-delete");
@include meta.load-css("components/modal");
@include meta.load-css("components/footer");
@include meta.load-css("components/search");
@include meta.load-css("components/input-text-voice");
@include meta.load-css("components/control-bar");
@include meta.load-css("components/filters-applied");

//pages
@include meta.load-css("pages/homepage-mobile");
@include meta.load-css("pages/projects");
@include meta.load-css("pages/cart");
@include meta.load-css("pages/edit-project");
@include meta.load-css("pages/read-project");
@include meta.load-css("pages/guideline/add-guideline");
@include meta.load-css("pages/guideline/guidelines");
@include meta.load-css("pages/guideline/read-guideline");
@include meta.load-css("pages/login");

//layouts
@include meta.load-css("layouts/auth");

//animations
@include meta.load-css("animation");

//others
@include meta.load-css("overlay");
@include meta.load-css("screen-reader");
@include meta.load-css("display");
