@use "sass:meta";
@use "var";
@use "fonts";

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;

  @media (max-width: var.$mobile) {
    min-height: calc(100vh - var.$header-mobile-height);
    height: calc(100vh - var.$header-mobile-height);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-xs;
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: var.$lighterPurple;
  color: var.$gray;

  a {
    text-decoration: none;
    color: var.$gray;
  }

  .default-link {
    display: flex;
    align-items: center;
    padding: var.$space-sm;
    border-radius: var.$border-radius-default;

    &:hover {
      background-color: var.$lightPurple;
    }

    &--active {
      background-color: var.$lighterPurple;
    }
  }

  > main {
    display: flex;
    flex: 1;
    padding: var.$space-md var.$space-sm;
    border-radius: var.$border-radius-default;
    width: 100%;

    @media (max-width: var.$mobile) {
      padding: var.$space-md var.$space-lg;
    }

    > div {
      display: flex;
      flex: 1;
      column-gap: var.$space-md;
    }
  }

  svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var.$gray;
  }
}

//elements
@include meta.load-css("elements/button");
@include meta.load-css("elements/heading");
@include meta.load-css("elements/form");

//components
@include meta.load-css("components/sec-page");
@include meta.load-css("components/header");
@include meta.load-css("components/card");
@include meta.load-css("components/card-list");
@include meta.load-css("components/push");
@include meta.load-css("components/push-delete");

//pages
@include meta.load-css("pages/homepage");
@include meta.load-css("pages/projects");
@include meta.load-css("pages/cart");
@include meta.load-css("pages/edit-project");
@include meta.load-css("pages/read-project");

//animations
@include meta.load-css("animation");
