@use "sass:meta";
@use "var";

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: var.$space-xs;
  row-gap: var.$space-xs;

  a {
    text-decoration: none;
    color: var.$grayDefault;
  }

  .default-link {
    display: flex;
    align-items: center;
    padding: var.$space-sm;
    border-radius: var.$border-r-small;

    &:hover {
      background-color: var.$lightPurpleDefault;
    }
  }

  > main {
    display: flex;
    flex: 1;
    padding: var.$space-md;
    background-color: var.$pageColor;
    border-radius: var.$border-r-small;

    > div {
      display: flex;
      flex: 1;
      column-gap: var.$space-md;
    }
  }

  svg {
    width: 1.8rem;
    height: 1.8rem;
  }
}

//elements
@include meta.load-css("elements/button");
@include meta.load-css("elements/heading");
@include meta.load-css("elements/form");

//components
@include meta.load-css("components/sec-page");
@include meta.load-css("components/header");
@include meta.load-css("components/card");
@include meta.load-css("components/card-list");

//pages
@include meta.load-css("pages/homepage");
@include meta.load-css("pages/projects");
@include meta.load-css("pages/add-project");
