@use "../../var";

$SCREEN_SIZE: 600px;

.modal .guidelines {
  margin-top: calc(var.$space-xl + 10rem);

  @media (max-width: var.$tablet) {
    margin-top: var.$space-sm;
  }
}

.modal {
  &:has(.guidelines) {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

.guidelines,
.requests {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-sm;

  .guidelines-filters {
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;

    &__search-wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: var.$space-sm;
      align-items: center;

      .search {
        width: 60%;
      }

      .btn-default {
        padding: var.$space-sm;
      }
    }

    .deficiences-checkbox {
      display: flex;
      margin-left: var.$space-sm;

      > div:first-of-type {
        width: 50px;

        @media (min-width: $SCREEN_SIZE) {
          display: none;
        }
      }

      &__group {
        display: flex;
        width: calc(95% - 50px);
        row-gap: calc(var.$space-md + 0.4rem);
        column-gap: calc(var.$space-md + 0.2rem);
        width: max-content;

        @media (max-width: calc($SCREEN_SIZE - 1px)) {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(auto, 90px));

          > div:nth-child(5) {
            grid-column: span 2;
          }
        }

        @media (min-width: $SCREEN_SIZE) {
          display: flex;
        }

        > div {
          display: flex;
          column-gap: var.$space-xs;
          align-items: center;

          label {
            margin-left: var.$space-xs;
          }
        }
      }
    }
  }
}

.guidelines {
  .guidelines-filters {
    @media (min-width: $SCREEN_SIZE) {
      margin: 0 auto;
    }

    .search {
      flex: 1;
    }
  }

  .heading-1 {
    text-align: center;
    margin-bottom: var.$space-md;
  }
}

.requests {
  .heading-1 {
    display: flex;
    flex-direction: column;

    span {
      font-style: italic;
      font-size: var.$fs-medium;
    }
  }
}

.two-pages {
  .guidelines,
  .requests {
    .heading-1 {
      text-align: start;
    }

    .guidelines-filters,
    .guidelines-filters > div:first-of-type,
    .guidelines-filters > div:first-of-type .search {
      margin: 0;
    }
  }

  .guidelines-filters {
    &__search-wrapper {
      display: flex;
      justify-content: space-between;
      column-gap: var.$space-sm;
      align-items: center;

      .search {
        width: auto;
        flex: 1;
      }
    }

    .deficiences-checkbox {
      > div:first-of-type {
        display: block;
      }

      &__group {
        gap: var.$space-md;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 90px));

        > div:nth-child(5) {
          grid-column: span 2;
        }
      }
    }
  }
}
