@use "../../var";

$SCREEN_SIZE: 600px;

.guidelines {
  display: flex;
  flex-direction: column;

  .guidelines-filters {
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;
    flex: 1;

    @media (min-width: $SCREEN_SIZE) {
      margin: 0 auto;
    }

    .search {
      flex: 1;
    }

    .deficiences-checkbox {
      flex: 1;
      display: flex;

      > div:first-of-type {
        flex: 1;

        @media (min-width: $SCREEN_SIZE) {
          display: none;
        }
      }

      &__group {
        flex: 4;
        gap: var.$space-md;

        @media (max-width: calc($SCREEN_SIZE - 1px)) {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(auto, 90px));

          > div:nth-child(5) {
            grid-column: span 2;
          }
        }

        @media (min-width: $SCREEN_SIZE) {
          display: flex;
        }

        > div {
          label {
            margin-left: var.$space-xs;
          }
        }
      }
    }
  }

  h1 {
    text-align: center;
    margin-bottom: var.$space-md;
  }
}

.two-pages {
  .guidelines {
    .heading-1 {
      text-align: start;
    }

    .guidelines-filters {
      &__form {
        &__guideline-checkbox-group {
          margin-left: 10px;
        }
      }
    }

    .guidelines-filters,
    .guidelines-filters > div:first-of-type,
    .guidelines-filters > div:first-of-type .search {
      margin: 0;
      flex: 1;
    }
  }
}
