@use "../../var";

.requests {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-sm;

  .guidelines-filters {
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;
    flex: 1;
  }

  &__search-wrapper {
    display: flex;
    justify-content: space-between;

    .search {
      width: 60%;
    }
  }

  .deficiences-checkbox {
    display: flex;

    > div:first-of-type {
      flex: 1;
    }

    &__group {
      display: flex;
      flex: 16;
      column-gap: var.$space-md;

      > div {
        label {
          margin-left: var.$space-xs;
        }
      }
    }
  }

  .heading-1 {
    display: flex;
    flex-direction: column;

    span {
      font-style: italic;
      font-size: var.$fs-medium;
    }
  }
}
