@use "../var";

.card-link {
  display: flex;
  flex: 1;
}

.card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  column-gap: var.$space-sm;
  margin-bottom: auto;
  background-color: var.$lightPurple;
  padding: var.$space-sm;
  border-radius: var.$border-radius-default;
  border: var.$border-1;

  &:hover {
    background-color: var.$lightPurple;
  }
}
