@use "../var";

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  column-gap: var.$space-sm;
  background-color: var.$contrast;
  padding: var.$space-lg var.$space-md;
  border-radius: var.$border-radius-2;
  border: var.$border-1;
  font-weight: var.$medium;
  transition: transform 0.2s ease;
  row-gap: var.$space-sm;
  box-shadow: 5px 10px 10px var.$lightPurple;
  width: 100%;
  justify-content: space-between;

  &__content {
    display: flex;
    row-gap: var.$space-md;
    align-items: center;
    justify-content: space-between;

    > a:first-of-type,
    > div:first-of-type {
      max-width: 65%;
    }

    .heading-3 {
      display: -webkit-box;
      font-size: var.$fs-medium;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  > a:first-of-type,
  > div:nth-child(2) {
    flex: 1;
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var.$fs-x-small;
    flex: 1;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
  }

  button,
  a {
    height: fit-content;
  }

  &:hover {
    background-color: var.$purple;
    transform: translateY(-5px);

    > button {
      &:hover {
        svg {
          fill: var.$text;
        }
      }
    }
  }

  svg {
    height: calc(var.$svg-small + 0.1rem) !important;
    width: calc(var.$svg-small + 0.1rem) !important;
  }
}

.dark .card {
  background-color: var.$dark;
  box-shadow: 5px 10px 10px var.$text;

  svg {
    fill: var.$lightText;
  }
}
