@use "../var";

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  column-gap: var.$space-sm;
  background-color: var.$lightPurple;
  padding: var.$space-md;
  border-radius: var.$border-radius-2;
  border: var.$border-1;
  font-weight: var.$medium;
  cursor: pointer;
  transition: transform 0.2s ease;
  row-gap: var.$space-sm;
  position: relative;

  > div:nth-child(2),
  > button {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
      font-size: var.$fs-medium;
    }

    > p {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var.$fs-x-small;
      flex: 1;
      line-height: 1.5em;
    }
  }

  &:hover {
    background-color: var.$purple;

    > button {
      &:hover {
        svg {
          fill: var.$text;
        }
      }
    }
  }

  svg {
    height: var.$svg-large !important;
    width: var.$svg-large !important;
  }
}
