@use "../var";

.code {
  margin: var.$space-sm 0;

  .cm-theme {
    overflow-x: auto;
  }

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
  }

  form {
    margin-bottom: var.$space-xs;

    select {
      padding: var.$space-xs;
      border-radius: var.$border-radius-default;
    }
  }

  > div:first-of-type {
    overflow-x: auto;
  }
}
