@use "../var";

.control-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: var.$space-md;
}

.control-bar-mobile {
  &__controls {
    display: flex;
    column-gap: var.$space-xs;

    svg {
      width: var.$svg-x-small;
      height: var.$svg-x-small;
    }
  }
}

.control-bar-desktop {
  column-gap: var.$space-lg;

  .search {
    &__search-form input {
      width: 20vw;
    }
  }

  .btn-link-default {
    flex: none;
  }
}
