@use "../var";

.control-bar-options {
  display: flex;
  align-items: center;
  margin-bottom: var.$space-md;

  &__filters {
    display: flex;
    column-gap: var.$space-sm;
    margin-left: auto;

    @media (min-width: var.$desktop) {
      margin-top: var.$space-sm;
    }
  }

  .btn-icon {
    svg {
      height: 1.3rem;
      width: 1.3rem;
    }

    .modal {
      top: 10%;
      left: -300%;
      bottom: 0;
    }
  }

  &__options {
    &__form-dates {
      display: flex;
      column-gap: var.$space-sm;
    }
  }
}
