@use "../var";

.filters-applied {
  display: flex;
  gap: var.$space-sm;
  margin: var.$space-xl 0 0;
  flex-wrap: wrap;

  &__box {
    display: flex;
    align-items: center;
    column-gap: var.$space-sm;
    background-color: var.$lightPurple;
    padding: var.$space-sm;
    border: var.$border-2;
    border-radius: var.$border-radius-default;

    > form {
      display: flex;
      column-gap: var.$space-sm;

      input {
        border: none;
        background-color: transparent;
        padding: var.$space-xs;
        border: var.$border-1;
        border-radius: 5px;
      }
    }
  }

  &__delete {
    &--one {
      display: flex;
      align-items: center;
      border-radius: 2px;
      border: none;

      svg {
        height: var.$svg-x-small;
        width: var.$svg-x-small;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
