@use "../var";
@use "../mixins" as mixins;

.header-desktop {
  display: flex;
  margin: 0 var.$space-lg;
  align-items: center;
  justify-content: space-between;
  border-bottom: var.$border-2;

  .nav__help {
    > button,
    > button > svg {
      position: unset !important;
      left: unset !important;
      right: unset !important;
      transform: unset !important;
    }
  }

  .nav__cart {
    margin-right: var.$space-xs;

    span {
      font-size: calc(var.$fs-x-small - 0.3rem);
    }
  }

  &__logo-wrapper {
    margin-top: var.$space-lg;
    margin-bottom: var.$space-md;
    max-width: 180px;
    height: auto;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__nav-links {
    justify-content: space-evenly;
    flex: 3;

    li {
      font-weight: bold;
      font-style: italic;

      &:hover {
        a {
          color: var.$purple !important;
        }
      }
    }

    &--active {
      a {
        color: var.$purple !important;
      }
    }
  }

  &__helpers {
    .nav__help {
      .modal {
        width: 50vw;
        top: calc(100% + 1rem);
        left: calc(100% - 20rem);
        bottom: unset;
        z-index: 1000;
      }
    }

    .nav__profile {
      .modal {
        z-index: 1000;
      }
    }

    svg {
      height: var.$svg-small;
      width: var.$svg-small;
    }

    .nav__cart {
      svg {
        height: var.$svg-medium;
        width: var.$svg-medium;
      }
    }
  }
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  border-bottom: var.$border-2;
  margin: 0 var.$space-lg;
  padding: calc(var.$space-md + 0.2rem) 0 var.$space-sm;
  align-items: center;

  &__hello-user {
    font-style: italic;
    font-weight: var.$bold;
    font-size: calc(var.$fs-small + 0.1rem);
  }

  .nav__profile {
    > svg {
      width: var.$svg-small !important;
      height: var.$svg-small !important;
    }
  }

  &__logo-wrapper {
    max-width: 100px;
    max-height: 28px;
    margin-top: var.$space-xs;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
