@use "../var";
@use "../mixins" as mixins;

.header {
  display: flex;
  padding: var.$space-sm 0;
  margin: 0 var.$space-sm;
  align-items: center;
  justify-content: space-between;
  border-bottom: var.$border-2;

  &__search-input {
    display: flex;
    align-items: center;
    padding: var.$space-xs var.$space-sm;
    border-radius: var.$border-radius-default;
    outline: none;
    border: var.$border-1;
    background-color: #fff;
    column-gap: var.$space-xs;

    input {
      outline: none;
      border: none;
    }

    button {
      padding: calc(var.$space-xs - 0.2rem);
    }
  }

  > span {
    font-weight: var.$bold;
    font-size: var.$fs-medium;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      display: flex;
      align-items: center;
    }

    &:first-of-type {
      column-gap: var.$space-lg;
    }

    &:nth-of-type(2) {
      column-gap: var.$space-sm;

      .cart-icon,
      .person-icon {
        border-radius: var.$border-radius-default;
        padding: calc(var.$space-xs + 0.2rem);

        &:hover {
          background-color: var.$lightPurple;
        }
      }
    }
  }
}

.header-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  column-gap: var.$space-md;
  height: var.$header-mobile-height;
  z-index: 400;
  background-color: var.$lighterPurple;
  padding-top: var.$space-xs;

  button {
    all: unset;
  }

  &__help {
    position: relative;

    .modal {
      width: 80vw;
      bottom: calc(100% + 2rem);
      height: 70vh;
      overflow-y: auto;
    }

    > button {
      position: absolute;
      background-color: var.$purple;
      border-radius: var.$border-radius-default;
      border: var.$border-1;
      padding: calc(var.$space-md + 0.3rem) calc(var.$space-md + 0.5rem);
      left: 15%;
      transform: translate(-15%, -50%);
      right: 50%;

      > svg {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        right: 50%;
      }
    }
  }

  > div:first-of-type {
    margin: 0 calc(var.$space-lg + 0.4rem);
    border-top: var.$border-2;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: var.$space-xs;

    > a:first-of-type,
    > a:nth-child(2),
    > button:first-of-type,
    > button:nth-child(2),
    > div:nth-child(3) > button,
    > button:nth-child(4),
    > button:nth-child(5) {
      > svg {
        width: 2.1rem !important;
        height: 2.1rem !important;
      }
    }

    > button:nth-child(2) {
      margin-right: var.$space-lg;
    }

    > button:nth-child(4) {
      margin-left: var.$space-lg;

      .modal {
        bottom: calc(100% + 0.2rem);
      }
    }
  }
}

.cart-count {
  @include mixins.icon-badge(
    0,
    20px,
    var.$fs-x-small,
    calc(var.$space-xs - 0.2rem) calc(var.$space-xs + 0.1rem)
  );

  span {
    top: -5px;
  }
}

.add-account {
  @include mixins.icon-badge(
    0,
    0,
    calc(var.$fs-x-small - 0.3rem),
    0px calc(var.$space-xs - 0.1rem)
  );

  span {
    bottom: 8px;
    right: 15px;
  }
}

.add-guideline {
  @include mixins.icon-badge(
    0,
    -15px,
    calc(var.$fs-x-small - 0.2rem),
    calc(var.$space-xs - 0.3rem) var.$space-xs
  );

  span {
    bottom: 1px;
    right: 0px;
  }
}
