@use "../var";

.input-text-voice {
  display: flex;
  column-gap: var.$space-xs;
  padding: calc(var.$space-sm - 0.2rem) var.$space-sm;
  border-radius: var.$border-radius-default;
  background-color: var.$lighterPurple;
  border: var.$border-1;
  flex: 1;

  input {
    all: unset;
    flex: 1;

    &::placeholder {
      font-style: italic;
      font-size: calc(var.$fs-x-small - 0.2rem);
    }
  }
}
