@use "../var";

.modal {
  position: absolute;
  background-color: var.$gray;
  border-radius: var.$border-radius-default;
  border: var.$border-1;
  padding: var.$space-sm var.$space-md;
  display: flex;
  row-gap: var.$space-sm;
  display: none;
  z-index: 1000;
  width: max-content;
  max-width: 80vw;
  height: max-content;
  max-height: 95vh;
  margin-left: auto;
  right: var.$space-md;
  align-items: flex-start;
  overflow-y: auto;
  column-gap: var.$space-md;

  &--active {
    display: flex;
  }

  &--not-active {
    display: none;
  }

  svg {
    width: 1.4rem !important;
    height: 1.4rem !important;
  }
}
