@use "../var";
@use "../mixins" as mixins;

button {
  all: unset;
}

.nav {
  &__settings,
  &__profile,
  &__cart,
  &__logout,
  &__keyboard {
    cursor: pointer;
  }

  &__help,
  &__settings {
    display: flex;
    align-items: center;
  }

  &__help {
    &__modal {
      &__content {
        margin-top: var.$space-xs;
        padding-bottom: var.$space-md;

        &__header {
          align-items: center;
          padding-bottom: var.$space-md;
          border-bottom: var.$border-1;
        }

        &__section {
          margin-top: var.$space-lg;

          dl {
            display: grid;
            grid-template-columns: 0.4fr 1fr;
            gap: 0.5rem 1rem;
            align-items: center;

            > dt {
              border: var.$border-1;
              border-radius: var.$border-radius-default;
              padding: var.$space-xs var.$space-sm;
            }
          }
        }
      }
    }

    > button,
    > button > svg {
      cursor: pointer;
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__cart {
    @include mixins.icon-badge(
      0,
      20px,
      var.$fs-x-small,
      calc(var.$space-xs - 0.2rem) calc(var.$space-xs + 0.1rem)
    );

    span {
      top: -5px;
    }
  }

  &__person {
    .add-account {
      @include mixins.icon-badge(
        0,
        0,
        calc(var.$fs-x-small - 0.3rem),
        0px calc(var.$space-xs - 0.1rem)
      );

      span {
        bottom: 8px;
        right: 15px;
      }
    }
  }

  &__profile,
  &__person {
    &--menu-shown {
      display: flex;
      flex-direction: column;
      margin-left: var.$space-lg;

      button {
        z-index: 1001;
      }
    }

    ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      background-color: var.$gray;
      border-radius: calc(var.$border-radius-default + 5px);
      border: var.$border-1;
      padding: var.$space-md var.$space-md;
      row-gap: var.$space-sm;
      z-index: 1000;
    }
  }

  &__person {
    ul {
      bottom: 40px;
      right: 50px;
    }
  }

  &__profile {
    ul {
      top: 50px;
      right: 50px;
    }
  }
}
