@use "../var";

.push-wrapper {
  background-color: var.$lightPurpleDefaultLighter;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 10px;
  border-radius: var.$border-r-small;
  max-width: 30rem;

  &__push {
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: var.$lightPurpleDefault;
    border-radius: var.$border-r-small;
    padding: var.$space-sm var.$space-md;
    box-shadow: var.$shadow-small;
    border: 1px solid var.$grayDefault;
    line-height: 1.4;

    button {
      &:hover {
        background-color: var.$purpleDefault !important;
      }
    }
  }
}
