@use "../var";

.push-wrapper {
  background-color: var.$lighterPurple;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 10px;
  border-radius: var.$border-radius-default;
  max-width: 30rem;

  @media (max-width: var.$tablet) {
    right: 0;
    margin: var.$space-sm;
  }

  &__push {
    display: flex;
    column-gap: 20px;
    align-items: center;
    background-color: var.$purple;
    border-radius: var.$border-radius-default;
    padding: var.$space-sm var.$space-md;
    box-shadow: var.$shadow-small;
    border: 1px solid var.$text;
    line-height: 1.4;
  }
}
