@use "../var";
@use "../mixins";

.search {
  @include mixins.search(var.$space-sm, var.$contrast);
}

.search-header {
  @include mixins.search(
    calc(var.$space-xs + 0.1rem) var.$space-sm,
    var.$purple
  );

  input::placeholder {
    color: var.$text;
  }
}

.dark .search {
  .btn-icon {
    background-color: var.$dark;

    > svg {
      fill: var.$lightText;
    }
  }

  &__search-form {
    background-color: var.$dark !important;

    input {
      color: var.$lightText;
    }

    svg {
      stroke: var.$lightText;
      fill: var.$lightText;
    }
  }
}
