@use "../var";

.sec-page {
  display: flex;
  flex-direction: column;
  border: var.$border-3;
  border-radius: var.$border-radius-2;
  background-color: var.$lightText;
  padding: var.$space-md;

  .file-input label {
    background-color: var.$lighterPurple;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: var.$space-md;
    margin-bottom: var.$space-lg;
    justify-content: space-between;

    .heading-2 {
      font-style: italic;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  input {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dark {
  .sec-page {
    background-color: var.$text;
  }
}
