@use "../var";

.sec-page {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-left: var.$border-1;
  padding-left: var.$space-sm;

  &__header {
    display: flex;
    align-items: center;
    column-gap: var.$space-md;
    margin-bottom: var.$space-lg;

    .heading-2 {
      text-align: center;
      flex: 1;
    }
  }
}
