html,
body {
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.3rem;
  row-gap: 0.3rem;
}
#app a {
  text-decoration: none;
  color: #1c1917;
}
#app .default-link {
  padding: 0.7rem;
  border-radius: 5px;
}
#app .default-link:hover {
  background-color: #dedede;
}
#app > main {
  display: flex;
  flex: 1;
  padding: 1.1rem;
  background-color: #f8f8f8;
  border-radius: 5px;
}
#app > main > div {
  display: flex;
  flex: 1;
  column-gap: 1.1rem;
}

.btn-link-default, .btn-default {
  background-color: transparent;
  border: 1px solid #1c1917;
  border-radius: 10px;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
}

.btn-link-default:hover, .btn-default:hover {
  background-color: #dedede;
}

.heading-1 {
  font-size: 2rem;
  font-weight: 900;
}

.heading-2 {
  font-size: 1.4rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 1rem;
  font-weight: 600;
}

.textarea {
  border: 1px solid #1c1917;
  border-radius: 10px;
  padding: 1.1rem;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 0.7rem;
}

.form * {
  font-size: 1.4rem;
}

.form *::placeholder {
  font-size: 1.4rem;
}

.input-transparent {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.7rem;
  width: min-content;
}

.input-transparent:hover {
  border: 1px solid #1c1917;
  border-radius: 10px;
}

.sec-page {
  display: flex;
  flex: 1;
  border-left: 1px solid #1c1917;
  padding-left: 0.7rem;
}

.header {
  display: flex;
  border: 1px solid #1c1917;
  padding: 1.1rem;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.header > span {
  font-weight: 600;
  font-size: 1.4rem;
}

.header ul {
  display: flex;
  list-style: none;
  column-gap: 1.9rem;
}

.card {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  background-color: #dedede;
  padding: 0.7rem;
  border-radius: 10px;
}

.card:hover {
  background-color: rgba(222, 222, 222, 0.7);
}

.card button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.7rem;
}

.card button:hover {
  border-radius: 5px;
  background-color: #dedede;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1.1rem;
}

.card-list > div {
  display: flex;
  flex: 1;
}

.card-list-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  row-gap: 0.7rem;
}

.card-list-not-found > span {
  font-weight: 600;
}

.card-list-not-found > img {
  object-fit: contain;
  width: 100%;
}

.homepage {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 1.9rem;
}

.projects {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 1.1rem;
}

.projects__header {
  display: flex;
  column-gap: 0.7rem;
}

.add-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

.add-project form > input:nth-child(1) {
  margin: 0 auto;
}

.add-project > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.1rem;
  margin-top: 1.1rem;
}

.add-project > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

/*# sourceMappingURL=index.css.map */
