@use "../var";

.config {
  display: flex;
  width: 100%;
  column-gap: var.$space-lg;
  padding: 0 var.$space-md;

  @media (max-width: var.$tablet) {
    flex-direction: column;
    row-gap: var.$space-lg;
  }

  &__tab {
    &--active {
      background-color: var.$lightPurple;
    }
  }

  aside {
    flex: 2;
  }

  &__menu {
    background-color: var.$lightPurple;
    display: flex;
    flex-direction: column;
    border-radius: var.$border-1;

    li {
      padding: var.$space-md;
      border-bottom: var.$border-1;
    }

    li:hover {
      background-color: var.$purple;
    }
  }

  &__content {
    flex: 3;
  }
}

.dark {
  .config {
    &__menu {
      background-color: var.$purple;

      li a {
        color: var.$text !important;
      }

      li:hover {
        background-color: var.$lighterPurple;
      }
    }
  }
}
