@use "../var";

.add-project {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex: 1;

  form {
    > input:nth-child(1) {
      margin: 0 auto;
    }
  }

  &__wrapper-left {
    display: flex;
    flex: 1;
    column-gap: var.$space-lg;

    &__left {
      display: flex;
      flex: 1;
      flex-direction: column;
      row-gap: var.$space-md;
    }

    &__guidelines {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: var.$space-md;
      font-size: var.$fs-small;
      align-items: flex-start;

      &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: var.$space-sm;
        flex: none;
      }
    }
  }

  .card-list {
    flex: none;
  }

  .card > span {
    font-size: var.$fs-x-small;
  }

  .card-list-not-found {
    margin: 0;
    max-width: fit-content;

    > span {
      font-weight: var.$light;
    }
  }

  .btn-link-default {
    font-weight: var.$bold;
  }
}
