@use "../var";

.edit-project {
  &__guidelines {
    margin-top: var.$space-md;
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;

    p {
      font-weight: var.$semibold;
    }

    .card-list-not-found {
      margin: 0;
      max-width: fit-content;

      > span {
        font-weight: var.$light;
      }
    }
  }
}
