@use "../var";

.guidelines {
  display: flex;
  flex: 1;
  flex-direction: column;

  .guidelines-filters {
    display: flex;
    flex-direction: column;
    row-gap: var.$space-md;
    margin: 0 auto;

    &__guideline-checkbox-group {
      display: flex;
      flex: 1;
      column-gap: var.$space-md;

      > div {
        label {
          margin-left: var.$space-xs;
        }
      }
    }
  }

  h1 {
    text-align: center;
    margin-bottom: var.$space-md;
  }
}
