@use "../var";

.homepage-mobile {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-md;
  flex: 1;
  width: 100%;

  .card {
    flex: none !important;
    margin-bottom: 0 !important;
    height: 90px;
    padding-right: var.$space-md;

    &__desc {
      margin-top: var.$space-md;
    }

    svg {
      height: var.$svg-x-large !important;
      width: var.$svg-x-large !important;
      align-self: center;
      fill: var.$purple;
      stroke-width: 2px;
    }
  }
}
