@use "../var";

.homepage-mobile {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-md;
  flex: 1;
  width: 100%;

  .card {
    display: flex;
    flex-direction: row;
    flex: none;
    margin-bottom: 0;
    padding-right: var.$space-md;

    &:hover {
      .card__content h3 {
        font-weight: var.$bold;
      }
    }

    &__content {
      margin-top: 0;
      width: 100%;

      h3 {
        font-size: calc(var.$fs-small + 0.2rem);
      }
    }

    > div {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 20%;
      top: 0;
    }

    svg {
      height: calc(var.$svg-x-large + 0.5rem) !important;
      width: calc(var.$svg-x-large + 0.5rem) !important;
      fill: var.$purple;
      stroke-width: 2px;
    }
  }
}
