@use "../var";

.breadcrumb {
  font-size: var.$fs-x-small;

  > ol {
    list-style: none;
    display: flex;

    li {
      a:hover {
        color: var.$purple !important;
        font-weight: var.$bold !important;
      }

      > span {
        padding: 0 var.$space-sm;
      }
    }
  }
}
