@use "../var";

%button {
  background-color: var.$purple;
  border: var.$border-1;
  border-radius: var.$border-radius-3;
  padding: var.$space-xs calc(var.$space-sm + 0.2rem);
  font-size: var.$fs-small;
  font-style: italic;
  font-weight: var.$semibold;
  display: flex;
  align-items: center;
  color: var.$text;

  &:hover {
    background-color: var.$lightPurple;
  }
}

.btn-transparent {
  background-color: transparent;
  outline: none;
  border: none;
  padding: var.$space-sm;
  display: flex;
  align-items: center;

  &:hover {
    border-radius: 20px;
    background-color: var.$lighterPurple;
  }
}

.btn-default {
  @extend %button;
}

.btn-link-default {
  @extend %button;
}

.btn-icon {
  display: flex;
  align-items: center;
  padding: var.$space-xs calc(var.$space-xs + 0.2rem);
  background-color: var.$contrast;
  border: var.$border-1;
  border-radius: var.$border-radius-default;

  &:hover {
    background-color: var.$lightPurple;
  }
}

.dark {
  .btn-icon {
    background-color: var.$dark;

    svg {
      fill: var.$lightText;
      stroke: var.$lightText;
    }

    &:hover {
      background-color: var.$lightPurple;

      svg {
        fill: var.$text;
        stroke: var.$text;
      }
    }
  }

  .btn-default,
  .btn-link-default {
    color: var.$text !important;
  }
}
