@use "../var";

%button {
  background-color: var.$purple;
  border: var.$border-1;
  border-radius: var.$border-radius-3;
  padding: var.$space-xs calc(var.$space-sm + 0.2rem);
  cursor: pointer;
  font-size: var.$fs-small;
  font-style: italic;
  font-weight: var.$semibold;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var.$lighterPurple;
  }
}

.btn-transparent {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: var.$space-sm;

  &:hover {
    border-radius: var.$border-radius-default;
    background-color: var.$lighterPurple;
  }
}

.btn-default {
  @extend %button;
}

.btn-link-default {
  @extend %button;
}

.btn-icon {
  display: flex;
  align-items: center;
  padding: var.$space-xs calc(var.$space-xs + 0.2rem);
  background-color: var.$purple;
  border: var.$border-1;
  border-radius: var.$border-radius-default;
}
