@use "../var";

%button {
  background-color: var.$lightPurple;
  border: var.$border-1;
  border-radius: var.$border-radius-default;
  padding: var.$space-sm;
  cursor: pointer;
  font-size: var.$fs-small;

  &:hover {
    background-color: var.$lighterPurple;
  }
}

.btn-transparent {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: var.$space-sm;

  &:hover {
    border-radius: var.$border-radius-default;
    background-color: var.$lighterPurple;
  }
}

.btn-default {
  @extend %button;
}

.btn-link-default {
  @extend %button;
}
