@use "../var";

.cart-count {
  position: relative;

  span {
    background-color: var.$purple;
    position: absolute;
    right: -10px;
    top: -5px;
    color: var.$gray;
    padding: calc(var.$space-xs - 0.2rem) calc(var.$space-xs + 0.1rem);
    border-radius: 100px;
    width: auto;
    height: auto;
    font-weight: var.$bold;
    font-size: var.$fs-x-small;
    border: var.$border-1;
  }
}
