@use "../var";

.file-input {
  display: flex;
  flex-direction: column;
  row-gap: var.$space-xs;
  flex: 1;

  label {
    border-radius: var.$border-radius-default;
    padding: var.$space-sm;
    background-color: var.$lightPurple;
    cursor: pointer;
    flex: 1;
    border: 1px solid transparent;

    &:hover {
      border: var.$border-1;
      background-color: var.$purple;
    }
  }

  span {
    flex: 1;
  }
}
