@use "../var";

@mixin heading($font-size, $font-size-mobile, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;

  @media (max-width: var.$mobile) {
    font-size: $font-size-mobile;
  }
}

.heading-1 {
  @include heading(2.3rem, 1.4rem, 900);
}

.heading-2 {
  @include heading(1.4rem, 1.1rem, 700);
}

.heading-3 {
  @include heading(1.1rem, 0.9rem, 600);
}
